body {
  background-color: grey;
}
.list li {
  background-color: #666;
  color: white;
}
.list li:nth-child(odd) {
  background-color: white;
  color: black;
}
.clickable {
  cursor: pointer;
  user-select: none;
}
