<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="pull-left">All Lists</h2>
      <a href="/list" class="pull-right btn btn-info">New List</a>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <h1>Active Lists</h1>
        </div>
    </div>
    <ul class="list-unstyled list">
      <li class="row clickable" ng-repeat="list in ctrl.active" ng-click="ctrl.viewList(list)">
        <div class="col-xs-10">
          {{list.store}}: {{list.title}}
        </div>
        <div class="col-xs-2 text-right">
          {{list.created | date:'MM-dd-yyyy'}}
        </div>
      </li>
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <h1>Inactive Lists</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button class="btn btn-default" ng-click="ctrl.loadInactive()">
                {{(ctrl.showInactive)?'Hide':'Load'}} Lists
                <i class="fa fa-spinner fa-spin" ng-show="ctrl.loadingInactive"></i>
              </button>
            </div>
          </div>
      </div>
      <ul class="list-unstyled list" ng-show="ctrl.showInactive">
        <li class="row clickable" ng-repeat="list in ctrl.inactive" ng-click="ctrl.viewList(list)">
          <div class="col-xs-10">
            {{list.store}}: {{list.title}}
          </div>
          <div class="col-xs-2 text-right">
            {{list.completed | date:'MM-dd-yyyy'}}
          </div>
        </li>
      </ul>
</div>
