<div class="container-fluid">
  <div class="row">
    <div class="col-xs-12">
      <h2 class="pull-left">All Lists</h2> <button class="pull-right btn btn-primary">New List</button>
    </div>
  </div>
  <div class="row">
      <div class="col-xs-12">
          <h1>Active Lists</h1>
        </div>
    </div>
    <ul class="list-unstyled list">
      <li class="row">
        <div class="col-xs-10">
          Walmart List
        </div>
        <div class="col-xs-2 text-right">
          12/12/2016
        </div>
      </li>
    </ul>
    <div class="row">
        <div class="col-xs-12">
            <h1>Inactive Lists</h1>
          </div>
          <div class="row">
            <div class="col-xs-12 text-center">
              <button class="btn btn-default">Load Lists
                <i class="fa fa-spinner fa-spin"></i>
              </button>
            </div>
          </div>
      </div>
      <ul class="list-unstyled list">
        <li class="row">
          <div class="col-xs-10">
            Target List
          </div>
          <div class="col-xs-2 text-right">
            12/05/2016
          </div>
        </li>
      </ul>
</div>
